[package]
    name = "pdfiller"
    version = "0.1.0"
    authors = ["Emulator000 <emulator@hotmail.it>"]
    edition = "2018"

[dependencies]
    async-std = "^1.6"
    actix-web = { version = "^3.0", features = ["rustls"] }
    actix-rt = "^1.1"
    actix-multipart = "^0.3"
    futures-lite = "^1.8"
    redis = "^0.17"
    serde = "^1.0"
    serde_derive = "^1.0"
    serde_json = "^1.0"
    lopdf = "^0.25"
    pdf_forms = "^0.1"
    zip = "^0.5"
    bytes = "^0.5"
    toml = "^0.5"
    envsubst = "^0.2"
    arc-swap = "^0.4"
    sentry = "^0.20"
    sanitize-filename = "^0.2"
    uuid = { version = "0.8", features = ["v4"] }
    simple-cache = "^0.1"

    # For static building
    openssl-sys = { version = "*", features = ["vendored"] }
